
<html>
<head>
<title>www.Python.com</title>
</head>

<body style="background-color:lightblue;background-image:url(796854.jpg">

<h1 style="color:white;font-size:400%;font-family:verdana;text-align:center;">Python {{obj}}</h1>
<h4 style="color:yellow;text-align:center;font-size:150%;">Learn Simple And Fast</h4>
<h3 style="color:blue;font-size:200%;">PYTHON</H3>
<img src="pythonlogo.png" alt="picture not available" style="width:100px;height:100px;">
<pre style="text-align:left;font-size:120%;font-family:verdana;">
<b>Python is a high-level, interpreted,
general-purpose programming language.
Its design philosophy emphasizes code
readability with the use of significant indentation.</b>

Python is dynamically-typed and garbage-collected.
It supports multiple programming paradigms,
including structured <i>(particularly procedural)</i>,
object-oriented and functional programming.
It is often described as a "batteries included"
language due to its comprehensive standard library.

<mark>Guido van Rossum</mark><small> began working on Python in the late</small>
<del>1970s</del><ins>1980</ins> as a successor to the ABC programming language
and first released it in 1991 as Python 0.9.0.
<strong>Python 2.0 was released in 2000</strong> and introduced
new features such as list comprehensions,
<sub>cycle-detecting garbage collection</sub>, <sup>reference counting</sup>,
and Unicode support. Python 3.0, released in 2008,
was a major revision that is not completely backward-compatible
with earlier versions.
<em>Python 2 was discontinued with version 2.7.18 in 2020.</em>

</pre>
<h3 style="color:blue;font-size:200%;text-align:right">PYTHON PROGRAMMING</H3>
<pre style="text-align:right;font-size:120%;font-family:verdana;">
This book describes Python, an open-source general-purpose
interpreted programming language available for the most popular
operating systems.The current versions are 3.x while 2.x is no
longer supported, since 2020. This book describes primarily
the unsupported version 2 (while often the same code works in version 3),
but does at times reference changes in version 3.
There are a few implementations for Python 3 (and older):
the standard implementation written in C, and PyPy,
a JIT-compiled version written in RPython - a subset of Python.
For Python 2 only there are Jython written in Java and IronPython
written in C# for the .NET environment.
</pre>
<table>
<tr>
<th>Type</th>
<th>Mutability</th>
<th>Description</th>
<th>Syntax Examples</th>

</tr>
<tr>
<td>Bool</td>
<td>Immutable</td>
<td>Boolean value</td>
<td>True,False</td>

</tr>
<tr>
<td>Bytearray</td>
<td>Mutable</td>
<td>Sequence Of Bytes</td>
<td>bytearray(b'Some ASCII')
bytearray(b"Some ASCII")
bytearray([119, 105, 107, 105])</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td rowspan="2">2</td>

</tr>
<tr>
<td>1</td>
<td>1</td>
<td colspan="2">4</td>



</tr>

</table>


</body>



</html>html>